<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TutorialsNinja Suite" verbose="1" thread-count="1">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <!-- TC1 & TC2: Registration -->
    <test name="Registration Without Errors">
        <classes>
            <class name="tests.RegistrationSuccessTest"/>
        </classes>
    </test>

    <test name="Registration With Errors">
        <classes>
            <class name="tests.RegistrationErrorsTest"/>
        </classes>
    </test>

    <!-- TC3 & TC4: Login -->
    <test name="Valid Login">
        <classes>
            <class name="tests.ValidLoginTest"/>
        </classes>
    </test>

    <test name="Invalid Login">
        <classes>
            <class name="tests.InvalidLoginTest"/>
        </classes>
    </test>

    <!-- TC5: Currency -->
    <test name="Change Currency">
        <classes>
            <class name="tests.CurrencyTest"/>
        </classes>
    </test>

    <!-- TC6: Breadcrumb -->
    <test name="Breadcrumb and Left Menu">
        <classes>
            <class name="tests.BreadcrumbTest"/>
        </classes>
    </test>

    <!-- TC7: Sort -->
    <test name="Sort By Name">
        <classes>
            <class name="tests.SortTest"/>
        </classes>
    </test>

    <!-- TC8: Search -->
    <test name="Search By Name">
        <classes>
            <class name="tests.SearchTest"/>
        </classes>
    </test>

    <!-- TC9: Subcategory Search -->
    <test name="Search In Subcategories">
        <classes>
            <class name="tests.SubcategorySearchTest"/>
        </classes>
    </test>

    <!-- TC10: Cart -->
    <test name="Add Items To Cart">
        <classes>
            <class name="tests.CartTest"/>
        </classes>
    </test>

    <!-- TC11: Checkout -->
    <test name="Checkout Process">
        <classes>
            <class name="tests.CheckoutTest"/>
        </classes>
    </test>

</suite>
